[submodule "Lib/XivToolsWpf"]
	path = Lib/XivToolsWpf
	url = https://github.com/XIV-Tools/XivToolsWpf
[submodule "Lib/LuminaExtensions"]
	path = Lib/LuminaExtensions
	url = https://github.com/XIV-Tools/LuminaExtensions
